* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #77dcfe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.task-input {
    margin: 20px;
}

#task-label {
    margin-left: 20px;
}

.task-table {
    margin: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    min-width: 90vw;
}

th {
    border: 2px solid white;
    padding: 10px 100px;
    background-color: #f1f0f0;
}

td {
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: #f1f0f0;
}

tr:nth-child(odd) {
    background-color: #d1e5ec;
}

.edit, .delete {
    padding: 3px;
    width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.delete:hover, .edit:hover {
    cursor: pointer;
}